﻿<h1>田中電機アンケート</h1>
<form #tanakaForm="ngForm" (ngSubmit)="register(tanakaForm)">

    <div ngModelGroup="isBuy">
        <h3>購入の意欲についてお尋ねします</h3>
        <div>
            <mat-radio-group class="answer-radio-group" [(ngModel)]="answer01" name="wish">
                <mat-radio-button class="answer-radio-button" *ngFor="let answer of answers" [value]="answer.id">
                    {{answer.label}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <button mat-raised-button color="primary" type="submit">送信</button>
</form>
